.clearfix:after{
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {
    /* IE6, 7专用*/
    zoom: 1;
}

.gm_card_layout{
    float: left;
}

.scroll_list {
    overflow-y: scroll;
    padding: 10px;
    border: 1px solid #ccc;
}