.project-card {
  width: 190px;
  height: 254px;
  background: #f5f5f5;
  padding: 15px;
  border-radius: 10px;
  overflow: hidden;
  transition: all 0.3s;
  position: relative;
}
.project-wrapper {
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.project-card-image {
  width: 100%;
  height: 170px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5em;
  font-weight: 900;
  transition: all 0.3s;
}
.project-content {
  height: fit-content;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.project-title {
  font-size: 0.72em;
  text-transform: uppercase;
  font-weight: 500;
  color: #4d4d4d;
}
.project-card-btn {
  margin-top: 10px;
  width: 100%;
  height: 40px;
  background-color: rgb(24, 24, 24);
  border: none;
  border-radius: 40px;
  color: white;
  transition: all 0.3s;
  cursor: pointer;
  font-weight: 500;
}
.project-card:hover .project-card-image {
  height: 120px;
}
.project-card:hover .project-card-btn {
  margin-top: 0;
}
.project-card-btn:hover {
  background-color: greenyellow;
  color: rgb(35, 35, 35);
}
.project-card:hover {
  background-color: white;
}