<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/assets/gm_order_table/table.css">
    <link rel="stylesheet" href="assets/assets/css/common.css">
    <title>gm命令数据列表管理</title>
</head>
<body>
    <div class="project-table-data-list scroll_list" id="projectTableDataList">
        <div class="project-table-list-header">
            <div class="project-table-item-content">数据内容</div>
            <div class="project-table-item-actions">操作</div>
        </div>
    </div>
    <div>
        <button class="project-card-btn project-card-btn-add" onclick="openAddModal()">添加新数据</button>
    </div>
        
    <!-- 编辑模态框 -->
    <div class="project-table-modal" id="projectTableEditModal">
        <div class="project-table-modal-content">
            <div class="project-table-modal-header">
                <h2 class="project-table-modal-title">修改GM命令</h2>
                <button class="project-table-close-btn" onclick="closeEditItemModal()">&times;</button>
            </div>
            <form id="editForm">
                <div class="project-table-form-group">
                    <label for="editName">命令名字(不允许修改)</label>
                    <input type="text" class="projet-input" id="editName" required disabled>
                </div>
                <div class="project-table-form-group">
                    <label for="editLevel">等级</label>
                    <input type="text" class="projet-input" id="editLevel" required>
                </div>
                <div class="project-table-form-group">
                    <label for="editSelectMethod">Method</label>
                    <select class="card_form_input" id="editSelectMethod">
                        <option value="GET">GET</option>
                        <option value="POST">POST</option>
                    </select>
                </div>
                <div class="project-table-form-group">
                    <label for="editPath">Path</label>
                    <input type="text" class="projet-input" id="editPath" required>
                </div>
                <div class="project-table-form-group">
                    <label for="editDesc">描述</label>
                    <input type="text" class="projet-input" id="editDesc" required>
                </div>
                <div class="project-table-form-group">
                    <button type="button" class="project-table-btn" onclick="parseGmJsonEdit()">格式化</button>
                </div>
                <div class="project-table-form-group">
                    <label for="editDescription">命令详情:<label id="editDescriptionWarn" style="color: red;"></label></label>
                    <textarea id="editDescription" class="project-table-json-textarea"></textarea>
                <!-- <div id="editDescription" class="project-table-json-textarea"></div> -->
                </div>
                <div class="project-table-form-actions">
                    <button type="button" class="project-table-btn project-table-btn-cancel" onclick="closeEditItemModal()">取消</button>
                    <button type="button" class="project-table-btn project-table-btn-save" onclick="saveEditItemModal()">保存</button>
                </div>
            </form>
        </div>
    </div>
    
    <!-- 添加模态框 -->
    <div class="project-table-modal" id="projectTableAddModal">
        <div class="project-table-modal-content">
            <div class="project-table-modal-header">
                <h2 class="project-table-modal-title">新增GM命令</h2>
                <button class="project-table-close-btn" onclick="closeAddModal()">&times;</button>
            </div>
            <form id="addForm">
                <div class="project-table-form-group">
                    <label for="addName">命令名字(不能重名)</label>
                    <input type="text" class="projet-input" id="addName" required>
                </div>
                <div class="project-table-form-group">
                    <label for="addLevel">等级</label>
                    <input type="text" class="projet-input" id="addLevel" required>
                </div>
                <div class="project-table-form-group">
                    <label for="editSelectMethod">Method</label>
                    <select class="card_form_input" id="editSelectMethod">
                        <option value="GET">GET</option>
                        <option value="POST">POST</option>
                    </select>
                </div>
                <div class="project-table-form-group">
                    <label for="editPath">Path</label>
                    <input type="text" class="projet-input" id="editPath" required>
                </div>
                <div class="project-table-form-group">
                    <label for="addDesc">描述</label>
                    <input type="text" class="projet-input" id="addDesc" required>
                </div>
                <div class="project-table-form-group">
                    <button type="button" class="project-table-btn" onclick="parseGmJsonAdd()">格式化</button>
                </div>
                <div class="project-table-form-group">
                    <label for="addDescription">命令详情:<label id="addDescriptionWarn" style="color: red;"></label></label>
                    <textarea id="addDescription" class="project-table-json-textarea"></textarea>
                <!-- <div id="editDescription" class="project-table-json-textarea"></div> -->
                </div>
                <div class="project-table-form-actions">
                    <button type="button" class="project-table-btn project-table-btn-cancel" onclick="closeAddModal()">取消</button>
                    <button type="button" class="project-table-btn project-table-btn-save" onclick="saveAddItemModal()">保存</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>