{{define "header"}}
<nav class="fh5co-nav" role="navigation">
    <div class="container" style="margin-right: 0%;width: 100%;">
        <div class="row">
            <div class="col-xs-3">
                <!-- <div id="fh5co-logo"><a href="/">Love<strong>.</strong></a></div> -->
                <!--把Love换成播放音乐-->
                {{template "home_music_roulette" .}}
            </div>
            <div class="col-xs-6 text-center">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">Story</a></li>
                    <li class="has-dropdown">
                        <a href="/services">Services</a>
                        <ul class="dropdown">
                            <li><a href="#">Web Design</a></li>
                            <li><a href="#">eCommerce</a></li>
                            <li><a href="#">Branding</a></li>
                            <li><a href="#">API</a></li>
                        </ul>
                    </li>
                    <li class="has-dropdown">
                        <a href="/gallery">Gallery</a>
                        <ul class="dropdown">
                            <li><a href="#">HTML5</a></li>
                            <li><a href="#">CSS3</a></li>
                            <li><a href="#">Sass</a></li>
                            <li><a href="#">jQuery</a></li>
                        </ul>
                    </li>
                    <li class="active"><a href="/contact">Contact</a></li>
                </ul>
            </div>
            <div class="col-xs-2" style="color: aqua;">
                {{$weather := .}}
                <p>{{$weather.Date}}</p>
                <p>城市：{{$weather.City}}</p>
                <span>温度差:</span>
                <span>{{$weather.Low}} ~ </span>
                <span>{{$weather.High}}</span>
                <p>当前温度：{{$weather.CurTemperature}}</p>
                <p>{{$weather.Type}}</p>
                <p>温馨提示：{{$weather.Remind}}</p>
            </div>
            <div class="col-xs-1" >
                <script>
                    var temp;
                    if ("{{$weather.Type}}" == "晴天") 
                    { 
                        temp = '<div class="sunny"></div>'
                    } 
                    else if ("{{$weather.Type}}" == "多云") { 
                        temp = '<div class="cloudy"></div>'
                    }
                    else if ("{{$weather.Type}}" == "雨") { 
                        temp = '<div class="rainy"></div>'
                    }
                    else if ("{{$weather.Type}}" == "阴") { 
                        temp = '<div class="rainy"></div>'
                    }
                    else if ("{{$weather.Type}}" == "雪") { 
                        temp = '<div class="snowy"></div>'
                    }
                    else if ("{{$weather.Type}}" == "雷雨")
                    {
                        temp = '<div class="stormy"></div>'
                    }
                    else if ("{{$weather.Type}}" == "霾") { 
                        temp = '<div class="cloudy"></div>'
                    }
                    else {
                        temp = '<div class="rainbow"></div>'
                    }
                    document.write(temp)
                </script>
            </div>
        </div>
    </div>
</nav>

{{end}}