<!doctype html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- food icons -->
	<link rel="stylesheet" type="text/css" href="assets/assets/tab_home/css/organicfoodicons.css" />
	<!-- demo styles -->
	<link rel="stylesheet" type="text/css" href="assets/assets/tab_home/css/default.css">
	<!-- menu styles -->
	<link rel="stylesheet" type="text/css" href="assets/assets/tab_home/css/component.css" />
	<script src="assets/assets/tab_home/js/modernizr-custom.js"></script>
</head>
<body>
	<!-- Main container -->
	<div class="container">
		<!-- Blueprint header -->
		<header class="bp-header cf">
			<div class="dummy-logo">
				<div class="dummy-icon foodicon foodicon--coconut"></div>
				<h2 class="dummy-heading">Fooganic</h2>
			</div>
		</header>
		<button class="action action--open" aria-label="Open Menu"><span class="icon icon--menu"></span></button>
		<nav id="ml-menu" class="menu">
			<button class="action action--close" aria-label="Close Menu"><span class="icon icon--cross"></span></button>
			<div class="menu__wrap">
				<ul data-menu="main" class="menu__level">
					<li class="menu__item"><a class="menu__link" data-submenu="submenu-1" href="#">GM数据统计</a></li>
					<li class="menu__item"><a class="menu__link" data-submenu="submenu-2" href="#">GM操作</a></li>
					<li class="menu__item"><a class="menu__link" data-submenu="submenu-3" href="#">项目管理</a></li>
					<li class="menu__item"><a class="menu__link" data-submenu="submenu-4" href="#">用户管理</a></li>
				</ul>
				<!-- Submenu 1 -->
				<ul data-menu="submenu-1" class="menu__level">
					<li class="menu__item"><a class="menu__link" href="#">全站统计</a></li>
					<li class="menu__item"><a class="menu__link" href="#">个人数据分析</a></li>
					<li class="menu__item"><a class="menu__link" href="#">奖杯🏆</a></li>
				</ul>
				<!-- Submenu 2 -->
				<ul data-menu="submenu-2" class="menu__level">
					<li class="menu__item"><a class="menu__link" data-submenu="submenu-2-1" href="#">手游测试服</a></li>
					<li class="menu__item"><a class="menu__link" data-submenu="submenu-2-2" href="#">手游策划服</a></li>
				</ul>
				<!-- Submenu 2-1 -->
				<ul data-menu="submenu-2-1" class="menu__level">
					<li class="menu__item"><a class="menu__link" href="#">相当重要😨</a></li>
					<li class="menu__item"><a class="menu__link" href="#">重要😬</a></li>
					<li class="menu__item"><a class="menu__link" href="#">一般😉</a></li>
					<li class="menu__item"><a class="menu__link" href="#">轻松😄</a></li>
				</ul>
				<!-- Submenu 2-2 -->
				<ul data-menu="submenu-2-2" class="menu__level">
					<li class="menu__item"><a class="menu__link" href="#">相当重要😨</a></li>
					<li class="menu__item"><a class="menu__link" href="#">重要😬</a></li>
					<li class="menu__item"><a class="menu__link" href="#">一般😉</a></li>
					<li class="menu__item"><a class="menu__link" href="#">轻松😄</a></li>
				</ul>
				<!-- Submenu 3 -->
				<ul data-menu="submenu-3" class="menu__level">
					<li class="menu__item"><a class="menu__link" href="#">Buckwheat</a></li>
					<li class="menu__item"><a class="menu__link" href="#">Millet</a></li>
					<li class="menu__item"><a class="menu__link" href="#">Quinoa</a></li>
					<li class="menu__item"><a class="menu__link" href="#">Wild Rice</a></li>
					<li class="menu__item"><a class="menu__link" href="#">Durum Wheat</a></li>
					<li class="menu__item"><a class="menu__link" data-submenu="submenu-3-1" href="#">Promo Packs</a></li>
				</ul>
				<!-- Submenu 3-1 -->
				<ul data-menu="submenu-3-1" class="menu__level">
					<li class="menu__item"><a class="menu__link" href="#">Starter Kit</a></li>
					<li class="menu__item"><a class="menu__link" href="#">The Essential 8</a></li>
					<li class="menu__item"><a class="menu__link" href="#">Bolivian Secrets</a></li>
					<li class="menu__item"><a class="menu__link" href="#">Flour Packs</a></li>
				</ul>
				<!-- Submenu 4 -->
				<ul data-menu="submenu-4" class="menu__level">
					<li class="menu__item"><a class="menu__link" href="#">Grain Mylks</a></li>
					<li class="menu__item"><a class="menu__link" href="#">Seed Mylks</a></li>
					<li class="menu__item"><a class="menu__link" href="#">Nut Mylks</a></li>
					<li class="menu__item"><a class="menu__link" href="#">Nutri Drinks</a></li>
					<li class="menu__item"><a class="menu__link" data-submenu="submenu-4-1" href="#">Selection</a></li>
				</ul>
				<!-- Submenu 4-1 -->
				<ul data-menu="submenu-4-1" class="menu__level">
					<li class="menu__item"><a class="menu__link" href="#">Nut Mylk Packs</a></li>
					<li class="menu__item"><a class="menu__link" href="#">Amino Acid Heaven</a></li>
					<li class="menu__item"><a class="menu__link" href="#">Allergy Free</a></li>
				</ul>
			</div>
		</nav>
		<div class="content">
			<p class="info">GM管理平台欢迎你</p>
			<!-- Ajax loaded content here -->
		</div>
	</div>
	
	<!-- /view -->
	<script src="assets/assets/tab_home/js/classie.js"></script>
	<script src="assets/assets/tab_home/js/dummydata.js"></script>
	<script src="assets/assets/tab_home/js/main.js"></script>
	<script>
	(function() {
		var menuEl = document.getElementById('ml-menu'),
			mlmenu = new MLMenu(menuEl, {
				// breadcrumbsCtrl : true, // show breadcrumbs
				// initialBreadcrumb : 'all', // initial breadcrumb text
				backCtrl : false, // show back button
				// itemsDelayInterval : 60, // delay between each menu item sliding animation
				onItemClick: loadDummyData // callback: item that doesn´t have a submenu gets clicked - onItemClick([event], [inner HTML of the clicked item])
			});

		// mobile menu toggle
		var openMenuCtrl = document.querySelector('.action--open'),
			closeMenuCtrl = document.querySelector('.action--close');

		openMenuCtrl.addEventListener('click', openMenu);
		closeMenuCtrl.addEventListener('click', closeMenu);

		function openMenu() {
			classie.add(menuEl, 'menu--open');
		}

		function closeMenu() {
			classie.remove(menuEl, 'menu--open');
		}

		// simulate grid content loading
		var gridWrapper = document.querySelector('.content');

		function loadDummyData(ev, itemName) {
			ev.preventDefault();

			closeMenu();
			classie.add(gridWrapper, 'content--loading');
			setTimeout(function() {
			    fetch('gm_order_card.html')
                .then(response => {
                    if (!response.ok) {
                        throw new Error('网络响应不正常');
                    }
                    return response.text();
                })
                .then(html => {
					classie.remove(gridWrapper, 'content--loading');
			    	gridWrapper.innerHTML = html;
                })
                .catch(error => {
                    console.error('加载 header.html 时出现问题:', error);
                });
				// gridWrapper.innerHTML = '<ul class="products">' + dummyData[itemName] + '<ul>';
				// gridWrapper.innerHTML =	'<ul class="products">' + '${login_lineedi}'  + '<ul>';
				// gridWrapper.innerHTML =	'<div class="card"> <h2>${login_lineedit}</h2> </div>';
			}, 100);
		}
	})();
	</script>
</body>
</html>